<html>
	<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="js/bike.js"></script>
	
	
		<link rel="stylesheet" type="text/css" href="css/newStyle.css">
	</head>
	<body>
	
	<div id = "logomain">
<img class = "logo" src="images/logo.png"></img></div>

<div class="table-title">
<h3>Confirmation</h3>
</div>


<table class="table-fill">

<tbody class="table-hover">
<tr>
<td class="text-left">Trip Id</td>
<td class="text-left">Sedan</td>
</tr>
<tr>
<td class="text-left">Booking Start Time</td>
<td class="text-left">26</td>
</tr>
<tr>
<td class="text-left">Booking End Time</td>
<td class="text-left">Good</td>
</tr>
<tr>
<td class="text-left">Pickup Point</td>
<td class="text-left">2014</td>
</tr>

<tr>
<td class="text-left">DropOff Point</td>
<td class="text-left">2014</td>
</tr>

</tbody>
</table>
<div class="table-title"><h3> Thank you for using our services </h3></div>

</body>
</html>