<html>
	<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="js/bike.js"></script>
	
	
		<link rel="stylesheet" type="text/css" href="css/newStyle.css">
	</head>
	<body>
	
	<div id = "logomain">
<img class = "logo" src="images/logo.png"></img></div>

<div class="table-title">
<h3>Booking History</h3>
</div>


<table class="table-fill">

<tbody class="table-hover">
<tr>
<td class="text-left">Make</td>
<td class="text-left">Sedan</td>
</tr>
<tr>
<td class="text-left">MPG</td>
<td class="text-left">26</td>
</tr>
<tr>
<td class="text-left">Condition</td>
<td class="text-left">Good</td>
</tr>
<tr>
<td class="text-left">Year</td>
<td class="text-left">2014</td>
</tr>

</tbody>
</table>

<div class="table-title">
<h3>Trip Time Extension</h3>
<label>
<span><br>End Time (Hours/Minutes) &nbsp; </span>
    <select id="endHours">
        <option selected> Select Hours </option>
        
    </select>
  <select id="endMinutes">
 
        <option selected> Select Minutes </option>
        
    </select>
</label><br><br>
<form action="/extend_booking" method="POST">
<input type="hidden" id="bikeID"></input>
<input type="submit" id="submit">Extend</button>
</form
</div>


</body>
</html>