<html>
	<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="js/bike.js"></script>
	
	
		<link rel="stylesheet" type="text/css" href="css/newStyle.css">
	</head>
	<body>
	
	<div id = "logomain">
<img class = "logo" src="images/logo.png"></img></div>

<div class="table-title">
<h3>Confirmation</h3>
</div>

<thead>
<tr>



</tr>
</thead>
<tbody class="table-hover">
<%json1.forEach(function(json1){%>
<tr>
<td class="text-left"><%=json1.dropLocation%></td>

</tr>

</tbody>
</table>


<%})%>




<div class="table-title"><h3> Thank you for using our services </h3></div>

</body>
</html>